Makefile
confdefs.h
config.log
config.status
aclocal.m4
bin
*.dSYM
*~
*.dylib
imgbib.xml.bib
autom4te.cache
.DS_Store
doc/chap*
doc/manual.*
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
doc/*.css
doc/*.js
doc/chooser.html
.version
.deps
.libs
.dirstamp
src/pkgconfig.h
libtool
extern/levmar-2.6/CMakeCache.txt
extern/levmar-2.6/CMakeFiles/
extern/levmar-2.6/cmake_install.cmake
extern/levmar-2.6/liblevmar.a
extern/levmar-2.6/lmdemo
extern/libdogleg-0.09/*.d
*.o
*.lo
*.la
extern/libdogleg-0.09/libdogleg*
Makefile.in
